In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
vectorizer = CountVectorizer(max_features = 5000, stop_words=[""])

In [2]:
data_df = pd.read_csv("./RestaurantData.csv")

In [3]:
data_df.tail()

,id,location,tags
31,32,Sweet Chocomilo,night market fried rice jollof plain rice banku
32,33,Favoured One indomie,night market indomie spaghetti
33,34,God is Able,night market banku fufu konkonte omotuo
34,35,Baba Special Khebab,night market sausage beef goat gizzard liver t...
35,36,Night Market,Daavi's beans Bread hub Meluvs Easy eats Pork ...

In [4]:
data_df.info()
# Print the info of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        36 non-null     int64
 1   location  36 non-null     object
 2   tags      36 non-null     object
dtypes: int64(1), object(2)
memory usage: 992.0+ bytes

In [20]:
data_df.isnull().sum()

id           0
location     0
tags        35
dtype: int64

In [17]:
def remove_spaces(text):
    list_form = text.split(" ")
    for i in range(len(list_form)):
        if list_form[i]==" ":
            list_form[i]=""

,id,location,tags
0,1,Campus Hub,"[chinese, rice, noodles, shrimp, fried, grille..."
1,2,Chaleur Restaurant,"[Statistics, jollof, rice, banku, okro, soup, ..."
2,3,Commonwealth Hall,"[chinese, rice, noodles, shrimp, fried, grille..."
3,4,Statistics Department,"[Chaleur, Restaurant, jollof, rice, banku, okr..."
4,5,Royal Mic Jean,"[gizzard, N-Block, balls, Botany, sausage, , i..."

In [5]:
data_df.head()

,id,location,tags
0,1,Campus Hub,chinese rice noodles shrimp fried grilled chic...
1,2,Chaleur Restaurant,Statistics jollof rice banku okro soup pepper ...
2,3,Commonwealth Hall,chinese rice noodles shrimp fried grilled chic...
3,4,Statistics Department,Chaleur Restaurant jollof rice banku okro soup...
4,5,Royal Mic Jean,gizzard N-Block balls Botany sausage indomie ...

In [42]:
vectors = vectorizer.fit_transform(data_df["tags"]).toarray()

In [43]:
similarity = cosine_similarity(vectors)

In [61]:
distances = similarity[6]

restaurant_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:10]

In [62]:
restaurant_list

[(5, 0.8827166660497837),
 (4, 0.8757932911874176),
 (7, 0.5890275078618326),
 (1, 0.31462660248284635),
 (8, 0.26943012562182533),
 (17, 0.26352313834736496),
 (18, 0.26352313834736496),
 (3, 0.25819888974716115),
 (15, 0.24343224778007386)]

In [63]:
for (index,sim) in restaurant_list:
        print(data_df["location"][index])

Botany Department
Royal Mic Jean
Volta Hall
Chaleur Restaurant
Legon Hall
God is Good Beans
Daavi's beans
Statistics Department
Mandy's Kitchen

In [6]:
def recommend(location):
    to_return=[]
    try:
        vectors = vectorizer.fit_transform(data_df["tags"]).toarray()
        similarity = cosine_similarity(vectors)
        location_index=data_df[data_df["location"]==location].index[0]
        distances = similarity[location_index]
        restaurant_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:10]
        for (index,sim) in restaurant_list:
            to_return.append(data_df["location"][index])
    except Exception:
        return("Location can not be found")
    return to_return

In [8]:
print(recommend("Volta Hall"))

['Royal Mic Jean', 'Botany Department', 'N-Block', 'Legon Hall', "Makafui's kenkey", "Mandy's Kitchen", "Nelly's Kitchen", 'Chaleur Restaurant', 'Pleasure palace']